@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes moveDot {
    0%, 100% {
      top: 10%;
      right: 10%;
    }
    25% {
      top: 10%;
      right: calc(100% - 35px);
    }
    50% {
      top: calc(100% - 30px);
      right: calc(100% - 35px);
    }
    75% {
      top: calc(100% - 30px);
      right: 10%;
    }
  }

  .animate-moveDot {
    animation: moveDot 6s linear infinite;
  }

  .bg-glow-gradient {
    background: radial-gradient(circle 230px at 0% 0%, white, #0c0d0d);
  }

  .bg-card-gradient {
    background: radial-gradient(circle 280px at 0% 0%, #444, #0c0d0d);
  }

  .bg-text-gradient {
    background: linear-gradient(45deg, #000000 4%, #ffffff, #000000);
    -webkit-background-clip: text;
    color: transparent;
  }

  .ray-effect {
    background-color: #c7c7c7;
    opacity: 0.4;
    box-shadow: 0 0 50px white;
    filter: blur(10px);
    transform-origin: 10%;
    transform: rotate(40deg);
  }
}